# MicroPython on ESP32C3, ESP IDF configuration
# The following options override the defaults

# Bootloader config
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y
CONFIG_BOOTLOADER_LOG_LEVEL=3

# Log
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_WIFI_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_COLORS=y

# LWIP
CONFIG_LWIP_SO_REUSE=y
CONFIG_LWIP_SO_REUSE_RXTOALL=y
CONFIG_LWIP_IP4_FRAG=y
CONFIG_LWIP_IP4_REASSEMBLY=y

# ICMP
CONFIG_LWIP_BROADCAST_PING=y
